[Unit]
Description=Discord Bot
After=network-online.target

[Service]
WorkingDirectory=/JJJTeamProject
ExecStart=java -jar target/dbot-1.0-SNAPSHOT.jar


[Install]
WantedBy=multi-user.target
